@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

[class*=__container] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1175px;
  padding: 0 15px;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #283136;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .main {
  flex: 1 1 auto;
  justify-content: center;
}

.header {
  position: absolute;
  width: 100vw;
  text-transform: uppercase;
  font-weight: 500;
  max-height: 180px;
  padding: 57.5px 0;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 160px;
  max-height: 65px;
  margin-right: 10px;
}
.header__basket {
  color: #283136;
}
.header__basket:before {
  content: url("../img/icon/basket.svg");
  padding-right: 10px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu__item {
  margin-right: 45px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: #000000;
}

.learn-more {
  position: relative;
}
.learn-more__container {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.learn-more__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 114px;
  flex-basis: 35%;
  margin-bottom: 80px;
}
.learn-more__title {
  margin: 83px 0 26px 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}
.learn-more__text {
  line-height: 24px;
  color: #283136;
  margin-bottom: 26px;
}
.learn-more__button {
  align-self: flex-start;
  width: auto;
  padding: 10px 55px;
  color: #ffffff;
  background: #fb565a;
  border-radius: 3px;
}
.learn-more__button:hover {
  color: #000000;
}
.learn-more__img {
  position: absolute;
  right: 0;
  bottom: 0;
  flex-basis: 65%;
  z-index: -1;
}
.learn-more__img img {
  max-width: 100%;
  max-height: 100%;
}

.service-card {
  padding: 0;
  padding-top: 80px;
  padding-bottom: 60px;
  border-bottom: 2px solid #eeeeee;
}
.service-card__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-card__card {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-basis: 25.5%;
  margin-bottom: 20px;
}
.service-card__img {
  height: 146px;
  margin-bottom: 25px;
}
.service-card__title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 16px;
}
.service-card__description {
  width: 260px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 32px;
}
.service-card__button {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  padding: 10px 45px;
  background: #fb565a;
  border-radius: 3px;
  align-self: flex-start;
}
.service-card__button:hover {
  color: #000000;
}

.button_green {
  background: #00ca74;
}
.button_green:hover {
  color: #000000;
}
.button_yellow {
  background: #efc849;
}
.button_yellow:hover {
  color: #000000;
}

.about {
  display: flex;
  flex-direction: column;
}
.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 75px 0;
  border-bottom: 2px solid #eeeeee;
}
.about__title {
  max-width: 650px;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  margin-bottom: 32px;
}
.about__description {
  max-width: 650px;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.list {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #283136;
  display: flex;
  flex-direction: column;
}
.list__item {
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}
.list__item::before {
  content: "";
  text-align: center;
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #fb565a;
  margin-right: 10px;
}
.list__item:first-child {
  margin-top: 23px;
}
.list__item:last-child {
  padding-bottom: 0px;
}

.job-statistics {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.job-statistics__img {
  max-width: 360px;
  max-height: 208px;
  margin-bottom: 37px;
}
.job-statistics h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-list {
  display: flex;
  justify-content: center;
}
.advantages-list__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 1 25%;
  color: #000000;
}
.advantages-list__Number {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  margin: auto;
}
.advantages-list__meaning {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.partners__container {
  padding: 45px 0;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
}

.listv2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.listv2 :nth-child(1) {
  max-width: 199px;
  max-height: 68px;
}
.listv2 :nth-child(2) {
  max-width: 209px;
}
.listv2 :nth-child(3) {
  max-width: 185px;
  max-height: 52px;
}
.listv2 :nth-child(4) {
  max-width: 174px;
  max-height: 84px;
}

.footer__container {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: inline-flex;
}
.socials :nth-child(1):hover {
  background: #0177ff;
}
.socials :nth-child(2):hover {
  background: #3b5999;
}
.socials :nth-child(3):hover {
  background: url("https://static.vecteezy.com/system/resources/previews/002/486/289/original/gradient-background-instagram-free-vector.jpg") 0 0/80px 80px;
}
.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
}

.farewell__title {
  max-width: 660px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
.farewell__text {
  max-width: 373px;
  line-height: 22px;
}/*# sourceMappingURL=style.css.map */